<%= render 'optimadmin/shared/header/main_title', title: 'New Contact Detail' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: contact_details_path, title: 'Contact Detail' %>

  <%= render 'form', contact_detail: @contact_detail %>
</div>