<footer class="row footer">
  <div class="small-12 columns">
    <div class="footer-logos">
      <%= image_tag 'layout/footer/nova.jpg' %>
      <%= image_tag 'layout/footer/wakefield.png' %>
    </div>
  </div>
</footer>
