<footer class="row footer">
  <div class="small-12 columns">
    <div class="footer-logos">
      <%= image_tag 'layout/footer/mind.png', alt: 'With All Of Us In Mind' %>
      <%= image_tag 'layout/footer/nova.jpg' %>
    </div>
  </div>
</footer>
