<header class="row primary-header">
  <div class="medium-6 columns">
    <%= link_to root_url, title: global_site_settings['Name'] do %>
      <%= image_tag 'layout/header/logo.png', alt: global_site_settings['Name'] %>
    <% end %>
  </div>

  <div class="medium-6 columns">
    <%= image_tag 'layout/header/swyp.png', alt: 'South West Yorkshire Partnership', class: 'swyp-logo right' %>
  </div>
</header>

<%= render 'layouts/shared/navigation' %>
