<nav class="row primary-navigation">
  <div class="medium-8 medium-offset-4 columns">
    <ul class="primary-navigation-links">
      <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
    </ul>
  </div>
</nav>
