<div class="client-story-wrap">
  <div class="client-story-content  <%= @presented_service.colour %>">
    <div class="inner">
      <%= client_story_presenter.linked_index_image %>
      <%= client_story_presenter.summary %>
      <%= client_story_presenter.read_more %>
    </div>
  </div>
</div>
