<div>
  <div class="home-client-story <%= client_story_presenter.service_colour %>">
    <div class="top"></div>
    <div class="middle">
      <%= client_story_presenter.summary %>
    </div>
    <div class="bottom"></div>
  </div>
</div>
