<%= render 'optimadmin/shared/header/main_title', title: 'New Client Story' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: client_stories_path, title: 'Client Story' %>

  <%= render 'form', client_story: @client_story %>
</div>