.primary-header {
  @include media('>phone') {
    margin: em(28px) auto 0;
  }

  @include media('<tablet') {
    margin: em(14px) auto;
  }
}

@include media('>phone') {
  .swyp-logo {
    margin: 0 0 em(15px);
  }
}

.header-phone {
  display: inline-block;
  color: $blue;
  font-size: em(18px);

  @include media('<tablet') {
    display: none;
  }
}
