<div class="row">
  <div class="small-12 columns">
    <div class="page-title">
      <div class="page-title-text">
        <h1>Forbidden</h1>
      </div>

      <%= image_tag 'layout/pages/page-title-background.jpg', alt: '', class: 'page-title-background' %>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <div class="small-12 columns">
      <h2>Forbidden</h2>
      
      <p>You do not have permission to access this page.</p>

      <p>If you think this is incorrect, please get in touch.</p>
    </div>
  </div>
</div>
