/*.home-client-story-blue {
  @include client-story-background('components/client-stories/blue.png');
}

.home-client-story-green {
  @include client-story-background('components/client-stories/green.png');
}

.home-client-story-turquoise {
  @include client-story-background('components/client-stories/turquoise.png');
}

.home-client-story-red {
  @include client-story-background('components/client-stories/red.png');
}

.home-client-story-purple {
  @include client-story-background('components/client-stories/purple.png');
}

.home-client-story-yellow {
  @include client-story-background('components/client-stories/yellow.png');
}

.home-client-story {
  color: $white;

  @include media('<tablet') {
    padding: em(10px) em(20px) 0;
  }

  @include media('>phone') {
    padding: em(27px) em(63px) em(20px) em(54px);
    text-align: center;
  }

  p {
    font-size: em(14px);
    margin: 0;
    line-height: 1.25;
    overflow: hidden;
    max-height: 103px;

    @include media('<369px') {
      margin: em(20px) (5px);
      max-height: 123px;
    }
  }
}
*/
.home-client-stories.slick-slider {
  margin: 0;
}

.home-client-story {
  @include home-client-story('blue', $blue);
  @include home-client-story('green', $green);
  @include home-client-story('turquoise', $turquoise);
  @include home-client-story('red', $red);
  @include home-client-story('purple', $purple);
  @include home-client-story('yellow', $yellow);

  max-width: 320px;
  margin: 0 auto;

  @include media('<tablet') {
    margin: em(28px) 0;
  }

  p {
    color: $white;
    font-size: em(14px);
    margin: 0;
    padding: 0 em(20px);
    text-align: center;

    @include media('<tablet') {
      padding: em(7px) em(15px);
    }
  }
}

.sidebar-client-story {
  @include sidebar-client-story('blue', $blue);
  @include sidebar-client-story('green', $green, $black);
  @include sidebar-client-story('turquoise', $turquoise);
  @include sidebar-client-story('red', $red);
  @include sidebar-client-story('purple', $purple);
  @include sidebar-client-story('yellow', $yellow, $black);

  max-width: 241px;
  text-align: center;
  //margin: em(56px) 0;

  @include media('<tablet') {
    margin: em(28px) 0;
  }

  p {
    color: $white;
    font-size: em(14px);
    margin: 0;
    padding: em(15px) em(30px);
    text-align: center;
  }
}


.client-story-wrap {
  position: relative;
  z-index: 1;
}

.lt-ie10 .client-story-content:after {
  display: none;
}

.client-story-content {
  @include client-story('blue', $blue);
  @include client-story('green', $green);
  @include client-story('turquoise', $turquoise);
  @include client-story('red', $red);
  @include client-story('purple', $purple);
  @include client-story('yellow', $yellow);

  @include border-radius(6px);

  padding: em(15px);
  margin: em(20px) 0 em(40px);
  position: relative;

  @include media('<tablet') {
    .image-right {
      float: none;
    }
  }

  .inner {
    @extend %clearfix;
  }

  &:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    bottom: -15px;
    left: 25px;
    z-index: -1;
  }
}

.client-story-read-more {
  @include client-story-read-more('blue', $blue);
  @include client-story-read-more('green', $green);
  @include client-story-read-more('turquoise', $turquoise);
  @include client-story-read-more('red', $red);
  @include client-story-read-more('purple', $purple);
  @include client-story-read-more('yellow', $yellow);
  @include border-radius(3px);
  color: $white;
  display: inline-block;
  font-size: em(16px);
  font-weight: $open-sans-semibold;
  padding: em(5px);
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
  }
}
